{% extends 'base.html.twig' %}
{% block title %}Catégorie
{% endblock %}

{% block body %}
    <div class="col-12">
        <p class="h1">Toutes les categories:</p>
    </div>
    {% for category in categories %}
        <div class="col-12">
            <h2>{{loop.index}}
                /
                <a href="/wild/category/{{category.name|lower}}">{{category.name}}</a></h2>
        </div>
    {% else %}
        Aucune série trouvée
    {% endfor %}

{% endblock %}