<div class = "navbar">
    <a href="/"><h1>Wild Series</h1></a>
    <div id="mySidenav" class="sidenav">
        <a href="#">Mon profil</a>
        <a href="#">Recherche</a>
        <a href="{{ path("wild_categories") }}">Catégorie</a>
        <a href="{{ path('wild_show', { 'slug': "walking-dead" }) }}">Mes séries favorites</a>

    </div>
</div>
