<div class = "navbar">
    <a href="/"><h1>Wild Series</h1></a>
    <div id="mySidenav" class="sidenav">
        <a href="#">Mon profil</a>
        <a href="#">Recherche</a>
        <a href="/wild">Mes séries favorites</a>
        <a href="#">Mes séries en cours</a>
        <a href="#">Mes séries pour plus tard</a>
    </div>
</div>
